@model LibraryMVC1.Models.Room

<h2>Сигурни ли сте, че искате да изтриете тази стая?</h2>

<div>
    <h4>Стая: @Model.RoomNumber</h4>
    <p>Капацитет: @Model.Capacity</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>
